.home-container
  .container
    .row
      .col-md-12
        %h1.center
          =image_tag "logo.svg", width: "400px"

    .row
      .col-md-12
        %h2.center.order
          %i
            Coming soon to 
            %strong 
              Amazon.

