.home-container
  .container
    .row
      .col-md-12
        %h1.center
          =image_tag "logo.svg", width: "400px"

    .row
      .col-xs-12
        .pull-up
          .col-xs-3.col-xs-offset-4
            %h2
              .order
                .pull-right
                  Redirecting
          .col-xs-2
            .loading
                  
              

